@font-face {
  font-family: 'Roboto-regular';
  src: url(fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-extra-bold';
  src: url(fonts/Roboto/Roboto-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Roboto-light-italic';
  src: url(fonts/Roboto/Roboto-LightItalic.ttf) format('truetype');
}

*{
  font-family: "Roboto-regular", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

.wrapper{
  display:flex;
  flex-wrap: wrap;
  width: 90%;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}


header, header.logo{
  display: flex;
  width: 100%; 
  background-color: #1F2937; 
  padding: 8px 50px; 
}

header .logo{  
  flex-basis: 35%;
  font-size: 24px;
  align-items: center;
  text-transform: uppercase;
  color: #F9FAF8;
}

header nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 65%;
}

header nav ul {
  display: flex;
  list-style:none;
}

header nav ul li a{
  font-size: 18px;
  text-decoration: none;
  padding-left: 20px;
  color: #E5E7EB
}

header nav ul li a:hover{
  font-size: 21px;
  color: white;
}

section.hero{
  display: flex;
  flex-basis: 100%;
  justify-content: center;
  background-color: #1F2937;  
  color: #E5E7EB;
  padding: 10px 50px 50px 50px;
}

section.hero .left-container{
  display: flex;
  flex-basis: 50%;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 40px;
  height: 275px;
  padding-right: 40px;
}

section.hero h1{
  font-size: 48px;
  font-family:"Roboto-extra-bold", sans-serif;
  color: #F9FAF8;
}

button{
  display: block;
  color: white;
  background-color: rgb(137, 162, 218);
  border: none;
  font-weight: bold;
  border-radius: 5px;
  padding: 7px 30px;
  width: 150px;
}

section.hero .right-container{
  display: flex;
  flex-basis: 50%;
  height: 275px;
  justify-content: center;
  margin-top: 40px;  
}

section.hero .right-container .main-image{
  display: block;
  width: 100%;
  height: 100%;
}

section.small-inf{
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;
  justify-content: center;
  height: 350px;
  padding: 10px 0;
}

section.small-inf.about-me{
  height: 600px;
}

section.small-inf h2{
  font-family: "Roboto-extra-bold", sans-serif;
  flex-basis: 100%;
  font-size: 34px;
  text-align: center;
  margin-top: 10px;
}
section.small-inf h2.about-me{
  font-size: 28px;
}

section.small-inf .images{
  display: flex;
  justify-content: space-around;
  width: 85%;
}

section.small-inf .images.about-me{
  flex-wrap: wrap;
  width: 95%;
}

section.small-inf .images .small-image{
  width:175px;
  height: 175px;
  border: 1px black solid;
  border-radius: 5px;
  margin-top: 5px;
}

section.small-inf .images .small-image.about-me{
  width:400px;
  height: 220px; 
}

section.small-inf figcaption{
  text-align: center;
}

section.testimonial{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  height: 350px;
  background-color:#E5E7EB;
}

section.testimonial p{
  font-family: "Roboto-light-italic";
  font-size: 36px;
  padding: 0 80px;
}

section.testimonial p cite {
  display: block;
  font-weight: bold;
  font-size: 20px;
  text-align: end;
  margin: 15px;
}

section.call-action{
  display: flex;
  flex-basis:70%;
  align-items: center;
  justify-content: space-around;
  margin:50px 0;
  height: 60px;
  background-color:rgb(137, 162, 218) ;
  border-radius: 5px;
  color: white;
}

section.call-action .ending-message h4{
  font-weight: bold;
}

section.call-action  .ending-message p{
  font-size: 11px;
}

section.call-action  button{
  border: 1px solid white; 
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 100%;
  height: 40px;
  font-size: 11px;
  color: white;
  background-color: #1F2937;
}


@media(min-width:1700px){
  .wrapper{
    width: 70%;
  }
}

@media(max-width:983px){
  section.hero h1{
    font-size: 36px;
  }
  header nav ul li a{
    font-size: 15px;
  } 
  section.hero .left-container,section.hero .right-container {
    margin-top: 20px;
  }
  section.small-inf{
    height: 300px;
  }
  section.small-inf.about-me{
    height: 100%;
  }
  section.small-inf .images{
    width: 95%;
  }
  section.small-inf .images .small-image{
    width:140px;
    height:140px;
  }
  section.small-inf .images .small-image.about-me{
    width:400px;
    height:220px;
  }
  section.testimonial{
    height:250px;
  }
  section.testimonial p{
    font-size: 22px;  
  }
}
@media(max-width:768px){
  header{
    padding: 10px 20px;
   }
  section.hero{
    padding: 10px 20px 20px 20px;
  }
  section.hero{
    flex-wrap: wrap;
  }
  section.hero .left-container{
    align-items: center;
    flex-basis: 100%;
    height:200px;
    padding-right: 0;
  }
  section.hero .left-container p{
    text-align: center;
  }
  section.hero .right-container{
    flex-basis: 100%; 
  }
  section.small-inf h2{
    font-size: 28px;
  }
  section.small-inf .images{
    width: 100%;
  }
  section.small-inf .images .small-image{
    width:130px;
    height:130px;
  }
  section.testimonial{
    height:180px;
  }
  section.testimonial p{
    font-size: 20px;
    margin: 20px;
    padding: 5px;
  }
  section.testimonial p cite{
    font-size: 15px; 
  }
  section.call-action{
    flex-basis:85%; 
  }
}

@media(max-width:599px){
  .wrapper{
    width: 100%;
  }
  section.small-inf{
    height: 580px;
  }
  section.small-inf h2{
    font-size: 25px;
    margin-bottom: 30px;
  }
 
  section.small-inf .images {
    flex-wrap: wrap;
    justify-content: space-around;
    height: 90%;
  }
  section.small-inf .images .small-image{
    width:180px;
    height: 180px;
    margin: 0 10px;
  }
  section.testimonial{
    height:140px;
    margin-top: 10px;
  }
  section.testimonial p{
    font-size: 18px;
    padding: 0 30px; 
  }
  section.testimonial p cite{
    font-size: 13px;
  }
  section.call-action{
    flex-basis:95%; 
  }
}

@media(min-width:360px) and (max-width:450px){
  header .logo{
    font-size: 15px;
  }
  section.hero .left-container{
    padding: 10px 0;
  }
  section.hero .left-container.about-me{
   margin-top: 0;
  }
  section.hero .right-container .main-image.about-me{
    padding: 15px;
   }
  section.hero h1{
    font-size: 25px;
  }
  section.hero h1.about-me{
    font-size: 18px;
  }
  section.hero p.about-me{
    font-size: 13px;
  }
  header nav ul li a{
    font-size: 12px;
    padding-left: 10px; 
  } 
  button.about-me{
    margin-top: 5px;
  }
  section.small-inf{
  height: 450px;
  }
  section.small-inf .images .small-image{
    width:140px;
    height:140px;
  }
  section.small-inf .images .small-image.about-me{
    width:300px;
    height:150px;
  }
  section.testimonial p {
   padding-top:5px;
   font-size: 14px;
  }
  section.call-action{
    padding: 0 10px;
    margin: 20px 0;
  }
}
